*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#checkerycomponent h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 auto;
    padding-bottom:0;
	 text-align: left;
}
#checkerycomponent h2 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 auto;
    padding-bottom:10px;
	 text-align: left;
	 margin:2px 0;
}

.me-select {
	position: relative;
	margin: 0 auto;
	max-width: 800px;
}

.me-select ul {
	list-style: none;
	padding: 0;
	width: 100%;
}

.me-select li {
	padding:5px;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	 list-style: none outside none;
    margin: 0 !important;
}

.me-select li.selected {
	
}

.me-select label {
	display: inline-block;
	width: 100%;
	position: relative;
	font-size: 1.2em;
	padding: 1px 10px 4px 37px;
	vertical-align: top;
	cursor: pointer;
}

.me-select label span {
	vertical-align: middle;
	display: inline-block;
}

.me-select label span:first-child {
	width: 30%;
	color: rgba(97,107,107,0.7);
	display:none;
}

.me-select label span:nth-child(2),
.me-select label a {
	width: 70%;
	color: #31d2d4;
}

.me-select label span:nth-child(3){
	
	width: 5%;
	text-align: left;
	
	
}

.me-select label span:last-child {
	
	width: 25%;
	text-align: left;
	 padding-left: 10px;
	
}

.me-select input[type="checkbox"],
.me-select label::before,
.me-select input[type="checkbox"]:checked + label::after {
	width: 26px;
	height: 26px;
	top: 50%;
	left: 2px;
	margin-top: -13px;
	position: absolute;
	cursor: pointer;
}

.me-select input[type="checkbox"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.me-select label::before {
	content: '';
	border: 2px solid rgba(0,0,0,0.3);
}

.me-select input[type="checkbox"]:checked + label::after {
	content: '\2713';
	text-align: center;
	line-height: 28px;
	color: #31d2d4;
	font-size:28px;
}

/*.me-select div {
	display: inline-block;
	width: 100%;
	position: relative;
	font-size: 1.2em;
	padding: 15px 0 0;
	vertical-align: top;
	cursor: pointer;
}*/

.me-select div span {
	vertical-align: middle;
	display: inline-block;
}

.me-select div span:first-child {
	width: 20%;
	color: rgba(97,107,107,0.7);
	
}

.me-select div span:nth-child(2),
.me-select div a {
	width: 30%;
	
	
}







/* Media Queries */
@media screen and (max-width: 50em) {
	#checkerycomponent {
		font-size: 80%;
	}
}