/* CSS Document */
.color-wrapper {position: relative;width: 250px;margin: 20px auto;}
.color-wrapper p {margin-bottom: 5px;}
input.call-picker {color: #666;text-transform: uppercase;float: left;outline: none;padding: 5px;text-transform: uppercase;width: 85px;}
.color-picker {width: 130px;background: #F3F3F3;height: 81px;padding: 5px;border: 5px solid #fff;box-shadow: 0px 0px 3px 1px #DDD;position: absolute;/*top: 61px;left: 2px;*/margin-left: 140px;}
.color-holder {background: #fff;cursor: pointer;border: 1px solid #AAA;width: 40px;height: 28px;float: left;margin-left: 5px;}
.color-picker .color-item {cursor: pointer;width: 10px;height: 10px;list-style-type: none;float: left;margin: 2px;border: 1px solid #DDD;}
.color-picker .color-item:hover {border: 1px solid #666;opacity: 0.8;-moz-opacity: 0.8;filter:alpha(opacity=8);}